@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@keyframes my-animation {
  0% {
    transform: translateX(30rem);
  }

  50% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(30rem);

    /* animation-delay: 10s; */
  }
}

.animate-on-load {
  animation: my-animation  ease-in-out;
}
